.boutonSave{
    border: none;
    background-color:green ;
    color: white;
    }
    .boutonAnnuler{
        border: none;
        background-color: red;
        color: white;
    }
    body{
        width: 100%;
    }
    .matField{
        width:100%;
        min-width: 600px;
    }
    
    .boutonAnnuler{
        margin-left: 500px;
    }
    .buttonv{
        margin: 10px;
    }